---
const { 
  title,
  description = 'Radio VolKETA Interestelar - Nouns Episodios'
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site || 'https://radio.noisk8.xyz');
---

<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests; default-src 'self' http: https: 'unsafe-inline' 'unsafe-eval' data: blob:;">
    <link rel="icon" type="image/x-icon" href="/rvi.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@300;400;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
    <title>{title}</title>
    <meta name="description" content={description} />
    
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL('/rvi.png', Astro.site || 'https://radiovolketainterestelar.com')} />
    
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL('/rvi.png', Astro.site || 'https://radiovolketainterestelar.com')} />
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --font-londrina: 'Londrina Solid', cursive;
  }
</style>